@model IEnumerable<KiemTra_NguyenVanQuang_1911062079.Models.SinhVien>

@{
    ViewBag.Title = "ListSinhVien";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListSinhVien</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th> Mã sinh viên </th>
        <th> Tên sinh viên</th>
        <th> Giới tính </th>
        <th> Ngày sinh </th>
        <th> Hình </th>
        <th> Mã ngành </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.MaSV)</td>
            <td>@Html.DisplayFor(modelItem => item.HoTen)</td>

            <td>@Html.DisplayFor(modelItem => item.GioiTinh)</td>
            <td>@Html.DisplayFor(modelItem => item.NgaySinh)</td>
            <td><img src="@item.Hinh" width="300px" height="200px" alt="Hinh" /></td>
            <td>@Html.DisplayFor(modelItem => item.MaNganh)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaSV }) |
                @Html.ActionLink("Detail", "Detail", new { id = item.MaSV }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaSV })
            </td>
        </tr>
    }
</table>